<h1>Models of Hexuan's Porcelain Collections</h1>
<p>Here's a list of models: feel free to check its details.</p>
<p *ngIf="showAdmin"><a [routerLink]="['/modeladd']">Add a Model</a></p>
<p *ngIf="!models"><em>Loading...</em></p >

    <table class='table table-striped' aria-labelledby="tableLabel">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Usage</th>
          <th>CategoryId</th>
          <th *ngIf="showAdmin">Edit</th>
          <th *ngIf="showAdmin">Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let model of models">
          <td><a [routerLink]="['/modelsubnumber', model.id]">{{ model.id }}</a></td>
          <td>{{ model.name }}</td>
          <td>{{ model.usage }}</td>
          <td>{{ model.categoryId }}</td>
          <td *ngIf="showAdmin"><a [routerLink]="['/modeledit', model.id]">Edit</a></td>
          <td *ngIf="showAdmin"><a [routerLink]="['/modeldelete', model.id]">Delete</a></td>
        </tr>
      </tbody>
    </table>

