<header>
    <mat-toolbar color="primary">
      <button mat-icon-button [routerLink]="['/']">
        <mat-icon>home</mat-icon>
      </button>
      
      <a mat-flat-button color="primary" [routerLink]="['/teams']">In-stock Collection</a>

      <a mat-flat-button color="primary" [routerLink]="['/groups']">Interested Orientations</a>

      <!-- <a mat-flat-button color="primary" [routerLink]="['/counter']">Counter</a> -->
      
      <a mat-flat-button color="primary" [routerLink]="['/fetch-data']">Fetch Data</a>
    </mat-toolbar>
</header>